{% extends "base.html" %}
{% block body %}

<body>
    <h1>List table</h1>
    <table class="table" id="data-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Attribute</th>
                <th>Op</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for line in table %}
            <tr>
                <td>{{ line.id }}</td>
                <td>{{ line.username }}</td>
                <td>{{ line.attribute }}</td>
                <td>{{ line.op }}</td>
                <td>{{ line.value }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-xs dt-delete">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    $(document).ready(function () {
        var t = $('#data-table').DataTable(); 
        //$('.dt-delete').each(function () {
            $("#data-table tbody").on('click', '.dt-delete', function (event) {
                therow = $(this);
                var dtRow = therow.parents('tr');
                var indRow = t.row(dtRow).index();
                console.log(indRow);
                var data = t.row(indRow).data();
                console.log(data);
                var send = JSON.stringify({ 'id': data[0]});
                fetch('/api/delete', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        Accept: "application/json",
                        "Accept-Encoding": "gzip, deflate, br",
                        Connection: "close",
                        Origin: "/api/delete",
                    },
                    body: send,
                }).then(function (response) {
                    resp = response.json();
                    return resp;
                }).then(function (data) {
                    pdata = JSON.parse(JSON.stringify(data))
                    console.log(pdata.deleted);
                    if (pdata.deleted) {
                        t.row(indRow).remove().draw(false);
                    }
                });
            });
        //});
    });
</script>

{% endblock %}